@use "@styles/variables" as *;
@use "@styles/breakpoints" as *;

.dashboard-section-wrapper{
    margin: 24px 0;
    &--header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h6 {
            font-size: 22px;
            color: $text-secondary;
            font-family: $primary_font_family;
            @include breakpoint-down('sm') {
                font-size: 16px;
            }
        }
        a {
            margin-left: auto;
            color: $text-secondary;
            font-family: $primary_font_family--medium;
            font-size: 17px;
            text-decoration: none;
            @include breakpoint-down('sm') {
                font-size: 14px;
            }
        }
    }
    .card {
        background:#FFFFFF;
        border-radius: 25px;
        padding: 25px;
        @include breakpoint-down('sm') {
            padding: 16px;
        }
    }
}