// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Layout
$side-nav-width: 250px;
$top-nav-height: 100px;

// Colors
$primary-color: #007bff;
$primary-hover: #0056b3;
$background-light: #f8f9fa;
$text-color: #232323;
$text-muted: #8BA3CB;
$text-secondary:#343C6A;
$error-color: #dc3545;
$text-color-secondary: #718EBF;
$border-color: #E6EFF5;

$primary_font_family: "Inter Regular";
$primary_font_family--light: "Inter Light";
$primary_font_family--thin: "Inter Thin";
$primary_font_family--semi-bold: "Inter SemiBold";
$primary_font_family--medium: "Inter Medium";
$primary_font_family--bold: "Inter Bold";
$primary_font_family--black: "Inter Black";

$secondary_font_family: "Lato";


