@use "@styles/variables" as *;

.settings {
    padding: 2rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 25px;

    &__tabs {
        display: flex;
        gap: 1rem;
        border-bottom: 1px solid #F4F5F7;
        margin-bottom: 2rem;

        @media (max-width: 576px) {
            gap: 0.5rem;
            flex-wrap: wrap;
        }
    }

    .profile-tab {
        &__form {
            &-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    gap: 1rem;
                }
            }
        }

        &__submit-btn {
            margin-top: 2rem;
            margin-left: auto;
            display: block;
            padding: 0.75rem 1.8rem;
            background-color: $text-color;
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                opacity: 0.8;
            }

            @media (max-width: 768px) {
                width: 100%;
                padding: 0.625rem 1.25rem;
                font-size: 0.875rem;
            }
        }
    }
}